*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
    
}

header{
    
    color: beige;
    font-weight: bold;
    text-align: center;
    padding: 10px 20px;
    font-size: 34px;
    margin-bottom: 30px;
    background: olivedrab;
    width: 100%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

canvas{
    
    margin-top: 5px;
    
    border-style: solid ;
    

}